# Environment variables
.env

# Docker override (symlink to infrastructure repo)
docker-compose.override.yaml

# python
*/__pycache__/

# Backend
backend/*.pyc
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local

# Database
*.sql
backups/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
